.ipInput {
	width: 100%;
	display: flex;
}

.ipInput input {
	width: calc(100% / 4);
	padding: 5px;
	color: white;
	text-align: center;
}

.ipInput input:nth-child(1)::placeholder {
	text-align: center;
}

/*-------------------------------*/

.addInput {
	width: 100%;
	position: relative;
}

.addInput input {
	width: 100%;
	padding: 20px 100px 20px 20px;
	color: white;
}

.addInput .icon_plus {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 12px;
	right: 40px;
	cursor: pointer;
}