.main {
	margin: 100px auto 0 auto;
	padding: 20px;
}

.title {
	font-weight: 500;
	color: white;
	margin-bottom: 40px;
}

@media (max-width: 768px) {
	.main {
		max-width: 450px;
	}
}

@media (min-width: 768px) {
	.main {
		max-width: 800px;
		min-width: 450px;
	}
}